<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edit:</p>
  <input type="hidden" name="_method" value="put">
  <input class="form-control" type="text" name="robot[name]" value="<%= @robot.name %>"><br />
  <input class="form-control" type="text" name="robot[city]" value="<%= @robot.city %>"><br />
  <input class="form-control" type="text" name="robot[state]" value="<%= @robot.state %>"><br />
  <input class="form-control" type="text" name="robot[avatar]" value="<%= @robot.avatar %>"><br />
  <input class="form-control" type="date" name="robot[birthdate]" value="<%= @robot.birthdate %>"><br />
  <input class="form-control" type="date" name="robot[date_hired]" value="<%= @robot.date_hired %>"><br />
  <input class="form-control" type="text" name="robot[department]" value="<%= @robot.department %>"><br />
  <input class="btn btn-primary" type="submit" value="go!">
</form>
