<h1>All Robots</h1>
<% @robots.each do |robot| %>
  <h3 class="robot"><%= robot.id %>: <a href="/robots/<%= robot.id %>"><%= robot.name %></a><br />
    <a class="btn btn-danger" href="/robots/<%= robot.id  %>/edit">Edit</a></h3>
    <form action="/robots/<%= robot.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-danger" type="submit" value="delete">
    </form><hr>
<% end %>
