<a  name="services"></a>
  <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-sm-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Here are all of the robots!</h2>
                  <% @robots.each do |robot| %>
                  <p class="lead">
                    <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
                      <p class="lead"><%= robot.age %> years old.<br /> Works in the <%= robot.department %> department.</p>

                      <a href="/robots/<%= robot.id  %>/edit" class="btn btn-default btn-lg network-name">Edit</a>
                      <form class="weiners" action="/robots/<%= robot.id %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="delete" class="btn btn-default btn-lg network-name">
                      </form><hr>
                  </p>
                  <% end %>
              </div>
          </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
